/node_modules
/public/hot
/public/storage
/public/document/download
/resources/certificates/*
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
laravel-echo-server.json
laravel-echo-server.lock
/config/telescope.php
/htdocs
/storage/clockwork/.gitignore
